<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body>
    <h1>Your ELearning order is confirmed!</h1>
    <p>Here is what you ordered </p>
    <p>Order #: <%= order._id %></p>
    <p>Order Date #: <%= order.date %></p>
    <p>Order Name #: <%= order.name %>, Order price #: <%= order.price %></p>
    <p>Please login to our website to view the reply and continue the discussion</p>
    <p>Thank you for being a part of our community</p>
  </body>
</html>
